{% for items in modules %}
    <div class="modal fade" style="text-align:left" id="{{items.id_module}}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <form class="post-form" method="POST">
            <div class="modal-dialog" role="document">

                <div class="modal-content">

                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"> {{items.naam}} </h4>
                        </div>  

                      <div class="modal-body">
                        Omschrijving: <br>
                        {{items.omschrijving}}


                        <br>
                        <br>

                            <table class="table table-condensed">
                                <thead><tr>
                                    <!-- <th> Omschrijving <br> <br> </th> -->
                                    <th> Kosten  </th>
                                    <th> Baten  (vast) </th>
                                    {% if items.module_type == 'Actief' %}
                                    <th> Baten  (Flexibel) </th>
                                    {% endif %}
                                    <th> Tijdsduur  </th>
                                </tr></thead>
                                <tbody><tr>
                                    <!-- <td> {{ items.omschrijving}} </td> -->
                                    <td class='danger'> {{ items.kosten }} </td>
                                    <td class='success'> {{ items.baten_vast }} </td>
                                    {% if items.module_type == 'Actief' %}
                                    <td> (behaalde cijfer voor module) * {{items.factor}} </td>
                                    {% endif %}
                                    <td> {{ items.tijd }} uur </td>
                                </tr></tbody>
                            </table>


                            <div style='display:none;'>
                                {% csrf_token %}
                                {% cycle buy_0.as_p buy_1.as_p buy_2.as_p buy_3.as_p buy_4.as_p buy_5.as_p %} 
                            </div>

                           
                      </div>
                      <div class="modal-footer">

<!--                         {% if items.buy_module == 1 or items.status == 'Bezig' %}
                            <div style="color:red"> Module al gekocht! </div>
                            <input class="btn btn-success" type="submit" disabled value="Kopen" />
                            <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                        {% endif %} -->


                        {% if items.status == 'Bezig' %}
                            <div style="color:orange"> Met module bezig! </div>
                            <input class="btn btn-success" type="submit" disabled value="Kopen" />
                            <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                        {% endif %}

                        {% if items.status == 'Voltooid' %}
                            <div style="color:red"> Module al voltooid! </div>
                            <input class="btn btn-success" type="submit" disabled value="Kopen" />
                            <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                        {% endif %}


                        {% if items.status == 'Niet gedaan' %}
                            {% if items.niveau == 2 and user.bank >= items.kosten%}

                                {% if items.gebied == 'studie' %}

                                    {% if user.exp_stud >= items.exp_required %}
                                        <input class="btn btn-success" type="submit" value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% elif user.exp_stud < items.exp_required %}
                                        <div style="color:red"> Niet genoeg experience! </div>
                                        <input class="btn btn-success" type="submit" disabled value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% endif %}

                                {% endif %}

                                {% if items.gebied == 'studietoekomst' %}

                                    {% if user.exp_stud >= items.exp_required or user.exp_toek >= items.exp_required %}
                                        <input class="btn btn-success" type="submit" value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% else %}
                                        <div style="color:red"> Niet genoeg experience! </div>
                                        <input class="btn btn-success" type="submit" disabled value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% endif %}

                                {% endif %}

                                {% if items.gebied == 'toekomst' %}

                                    {% if user.exp_toek >= items.exp_required %}
                                        <input class="btn btn-success" type="submit" value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% elif user.exp_toek < items.exp_required %}
                                        <div style="color:red"> Niet genoeg experience! </div>
                                        <input class="btn btn-success" type="submit" disabled value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% endif %}

                                {% endif %}

                                {% if items.gebied == 'sociaaltoekomst' %}

                                    {% if user.exp_soc >= items.exp_required or user.exp_toek >= items.exp_required %}
                                        <input class="btn btn-success" type="submit" value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% else %}
                                        <div style="color:red"> Niet genoeg experience! </div>
                                        <input class="btn btn-success" type="submit" disabled value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% endif %}

                                {% endif %}

                                {% if items.gebied == 'sociaal' %}

                                    {% if user.exp_studie >= items.exp_required %}
                                        <input class="btn btn-success" type="submit" value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% elif user.exp_studie < items.exp_required %}
                                        <div style="color:red"> Niet genoeg experience! </div>
                                        <input class="btn btn-success" type=" submit" disabled value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% endif %}

                                {% endif %}

                                {% if items.gebied == 'studiesociaal' %}

                                    {% if user.exp_stud >= items.exp_required or user.exp_soc >= items.exp_required %}
                                        <input class="btn btn-success" type="submit" value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% else %}
                                        <div style="color:red"> Niet genoeg experience! </div>
                                        <input class="btn btn-success" type="submit" disabled value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% endif %}

                                {% endif %}

                            {% elif items.niveau == 1 and user.bank >= items.kosten %}

                                {% if items.gebied == 'studie' %}

                                    {% if user.exp_stud >= items.exp_required %}
                                        <input class="btn btn-success" type="submit" value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% elif user.exp_stud < items.exp_required %}
                                        <div style="color:red"> Niet genoeg experience! </div>
                                        <input class="btn btn-success" type="submit" disabled value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% endif %}

                                {% endif %}

                                {% if items.gebied == 'studietoekomst' %}

                                    {% if user.exp_stud >= items.exp_required or user.exp_toek >= items.exp_required %}
                                        <input class="btn btn-success" type="submit" value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% else %}
                                        <div style="color:red"> Niet genoeg experience! </div>
                                        <input class="btn btn-success" type="submit" disabled value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% endif %}

                                {% endif %}

                                {% if items.gebied == 'toekomst' %}

                                    {% if user.exp_toek >= items.exp_required %}
                                        <input class="btn btn-success" type="submit" value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% elif user.exp_toek < items.exp_required %}
                                        <div style="color:red"> Niet genoeg experience! </div>
                                        <input class="btn btn-success" type="submit" disabled value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% endif %}

                                {% endif %}

                                {% if items.gebied == 'sociaaltoekomst' %}

                                    {% if user.exp_soc >= items.exp_required or user.exp_toek >= items.exp_required %}
                                        <input class="btn btn-success" type="submit" value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% else %}
                                        <div style="color:red"> Niet genoeg experience! </div>
                                        <input class="btn btn-success" type="submit" disabled value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% endif %}

                                {% endif %}

                                {% if items.gebied == 'sociaal' %}

                                    {% if user.exp_soc >= items.exp_required %}
                                        <input class="btn btn-success" type="submit" value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% elif user.exp_soc < items.exp_required %}
                                        <div style="color:red"> Niet genoeg experience! </div>
                                        <input class="btn btn-success" type="submit" disabled value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% endif %}

                                {% endif %}

                                {% if items.gebied == 'studiesociaal' %}

                                    {% if user.exp_stud >= items.exp_required or user.exp_soc >= items.exp_required %}
                                        <input class="btn btn-success" type="submit" value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% else %}
                                        <div style="color:red"> Niet genoeg experience! </div>
                                        <input class="btn btn-success" type="submit" disabled value="Kopen" />
                                        <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                                    {% endif %}

                                {% endif %}

                            {% else %}
                                <div style="color:red"> Niet genoeg geld! </div>
                                <input class="btn btn-success" type="submit" disabled value="Kopen" />
                                <input name="cancel" class="btn btn-danger" type="submit" value="Sluiten"/>
                            {% endif %}
                        {% endif %}

                      </div>
                </div>
            </div>

        </form>
    </div>
{% endfor %}